* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive;
    background-image: url(../img/Bejo_fondo.jpg);
    background-attachment: fixed;
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    color: black;
    font-weight: bold;
}

main {
    margin-top: 100px;
    min-height: 67vh;
}

a {
    text-decoration: none;
    color: black;
}

/*Header*/
header {
    background-color: rgba(255, 255, 255, 0.493);
    color: black;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    animation-name: girar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 50%;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.navmenu__lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
}

.navmenu__itemSeleccionado {
    color: rgb(255, 0, 212);
    transition: all 1s;
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

.navmenu__itemSeleccionado:hover {
    color: rgb(255, 0, 212);
}

.navmenu__item {
    transition: all 1s;
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

.navmenu__item:hover {
    color: rgb(255, 0, 212);
}

/*TITULO*/
.titulo {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

/*Footer*/
.footer {
    background-color: rgba(255, 255, 255, 0.493);
    color: black;
    padding: 1rem 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

.footer__texto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
}
.footer__lista {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    margin-top: 1rem;
    padding: 1rem 0;
    gap: 2rem;
    font-size: 20px;
}
.footer__icono {
    transition: all 1s;
}

.footer__icono:hover {
    color: rgb(255, 0, 212);
}

/*-------------------------------------------------------------*/
/*index.html*/
.section__index{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
}
/*Formulario*/
.formulario{
    text-align: center;

}
.formulario__cuadro{
    background-color: rgba(255, 255, 255, 0.212);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.formulario__texto{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.formulario__boton{
    border-radius: 10px;
    color: white;
    background-color: #0F5897;
    padding: 10px 15px 10px 15px;
    text-align: center;
}

.formulario__boton:hover {
    animation-name: animacionAlTocar;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes animacionAlTocar {
    100% {
        background-color: rgb(255, 0, 212);
    }
}

.listaPaises {
    list-style: none;
    text-align: center;
}
.pais {
    margin: 5px;
}

/*musica.html*/
.tarjetaMusica{
    background-color: white;
    width: 530px;
    height: 400px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 15px;
    text-align: center;
}
.tarjetaMusica__video{
    margin-top: 15px;
    border-radius: 10px;
}
.tarjetaMusica__texto{
    text-align: justify;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
.tarjetaMusica__meGustas{
    text-align: justify;
    text-align: center;
    font-size: 14px;
}
.tarjetaMusica__boton{
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding: 5px;
    margin-top: 5px;
    font-style: italic;
    font-weight: bold;
}
.tarjetaMusica__boton:hover {
    animation-name: animacionAlTocar;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}


/*tienda.html*/

.tarjetas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tarjetaTienda{
    background-color: white;
    width: 300px;
    height: 380px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 15px;
    text-align: center;
}
.tarjetaTienda__img{
    width: 250px;
    height: 250px;
}
.tarjetaTienda__texto{
    text-align: justify;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
.tarjetaTienda__boton{
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
    font-style: italic;
    font-weight: bold;
}
.tarjetaTienda__boton:hover {
    animation-name: animacionAlTocar;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

/* musica.html y tienda.html*/
.botonesOrden{
    position: absolute;
    top: 100px;
    right: 10px;
}

.botonOrden{
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #0F5897;
    padding: 5px;
    font-style: italic;
    font-weight: bold;
    margin-left: 10px;
}

.botonOrden:hover {
    animation-name: animacionAlTocar;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}